img {
    width: 200px;
    border-radius: 20px;
}
.detalhe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.desc {
    margin: 0;
    padding: 0;
    color: #777;
}
.preco {
    font-weight: 700;
}